{% extends 'base.html' %}
{% block titulo %} Home {% endblock titulo %}
{% block contenido %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container">
          <h1 class="display-5 fw-bold">Welcome to my website to look for the best books to learn programming</h1>
          <p class="col-md-8 fs-4">You can delete, add and edit the books in order to have the best books.</p>
          <button class="btn btn-success btn-lg" type="button">Let's go</button>
        </div>
      </div>
{% endblock contenido %}